$background: rgba(54, 54, 54, 0.5);
$shadow: none;
$hover-background: rgba(54, 54, 54, 0.8);
$hover-shadow: 0 0 18px rgba(255, 255, 255, 0.3);
$active-background: #feff35;
$active-shadow: 0 0 18px #feff35;
.button {
    display: block;
    cursor: pointer;
    margin: 12px;
    background: $background;
    box-shadow: $shadow;
    text-decoration: none;
    padding: 12px;
    // Transform effect looks jittery in IE. Probably related to being in a flexbox.
    // transform: rotate3d(.5, -0.6, 0, 15deg) rotate(1deg);
    transition: all .5s;
    border-radius: .5em;
    border: 1pt solid rgba(255, 255, 255, .25);
    &>svg {
        display: inline-block;
        vertical-align: middle;
        height: 16pt;
        width: 16pt;
        margin-right: 8px;
    }
    &>div {
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        font-size: 14pt;
    }
    &:hover {
        // transform: rotate3d(0, 0, 0, 0deg) rotate(0.01deg);
        background: $hover-background;
        box-shadow: $hover-shadow;
        transition: all .5s;
    }
    &:active {
        background: $active-background;
        box-shadow: $active-shadow;
        transition: all .25s;
    }
    * {
        // Required for :active effect to work properly in IE
        pointer-events: none;
    }
}