// @use "./abberation.scss";
@use "./button.scss";
@use "./loader.scss";
body {
    font-family: Consolas, Monaco, Noto Sans Mono, Roboto Mono, Liberation Mono, monospace;
    background: black;
    color: white;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    font-size: 12pt;
}

a {
    color: inherit;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 15pt;
    font-weight: normal;
}

svg {
    fill: white;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
}

.striped-overlay {
    background-size: 16px 3pt;
    background-position: 50%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .05) 1pt, rgba(255, 255, 255, .025) 1pt);
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.emoji {
    // inherited text-shadow looks a bit too exaggerated on emojis
    text-shadow: 0 0 6pt rgba(255, 255, 255, 0.25);
    // chrome makes emojis monochrome when used with a bold font
    font-weight: normal;
    display: inline-block;
}

#background {
    position: fixed;
    display: block;
    opacity: 0;
    transition: opacity 1s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#background-overlay {
    position: fixed;
    display: block;
    background: repeating-linear-gradient(7deg, transparent, transparent 100px, rgba(255, 255, 255, 0.05) 100px, rgba(255, 255, 255, 0.05) 101px), repeating-linear-gradient(97deg, transparent, transparent 100px, rgba(255, 255, 255, 0.05) 100px, rgba(255, 255, 255, 0.05) 101px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#striped-overlay {
    background-size: 16px 3pt;
    background-position: 50%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .05) 1pt, rgba(255, 255, 255, .025) 1pt);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

#radial-overlay {
    background: radial-gradient(circle at center, transparent, transparent, rgba(255, 255, 255, 0.05));
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

#game {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#unsupported-message {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 24px;
    right: 24px;
}

#branding {
    color: rgba(255, 255, 255, 0.25);
    user-select: none;
    font-size: 10pt;
    position: fixed;
    display: block;
    text-align: center;
    bottom: 8px;
    left: 0;
    right: 0;
}

@media(max-width: 300px) {
    .branding-separator {
        display: none;
    }
    .branding-line {
        display: block;
    }
}

#content {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px;
    /* max-width: 450px;
    margin-left: auto;
    margin-right: auto; */
    text-align: center;
}