// @use "./abberation.scss";
@use "./button.scss";
@use "./loader.scss";
@mixin fixed-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body {
    font-family: Consolas, Monaco, Noto Sans Mono, Roboto Mono, Liberation Mono, monospace;
    background: black;
    color: rgba(255, 255, 255, .8);
    text-shadow: 0 0 .5em rgba(255, 255, 255, .8);
    font-size: 12pt;
    line-height: 1.2;
}

a {
    color: inherit;
}

svg {
    fill: rgba(255, 255, 255, 0.8);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, .5));
}

.striped-overlay {
    @include fixed-fullscreen;
    background-size: 16px 3pt;
    background-position: 50%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .05) 1pt, rgba(255, 255, 255, .025) 1pt);
    z-index: 99999;
}

.emoji {
    // inherited text-shadow looks a bit too aggressive on emojis in some browsers
    text-shadow: 0 0 .2em rgba(255, 255, 255, .4);
    // chrome makes emojis monochrome when used with a bold font
    font-weight: normal;
    // since we use a monospaced font, simply adding a spaces around the emoji makes it look too spaced out. This margin corrects that.
    margin-left: .2em;
    margin-right: .2em;
}

#background {
    @include fixed-fullscreen;
    display: block;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
}

#background-overlay {
    @include fixed-fullscreen;
    display: block;
    background: repeating-linear-gradient(7deg, transparent, transparent 100px, rgba(255, 255, 255, 0.05) 100px, rgba(255, 255, 255, 0.05) 101px), repeating-linear-gradient(97deg, transparent, transparent 100px, rgba(255, 255, 255, 0.05) 100px, rgba(255, 255, 255, 0.05) 101px);
    pointer-events: none;
}

#striped-overlay {
    @include fixed-fullscreen;
    background-size: 16px 3pt;
    background-position: 50%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .05) 1pt, rgba(255, 255, 255, .025) 1pt);
    pointer-events: none;
}

#radial-overlay {
    @include fixed-fullscreen;
    background: radial-gradient(circle at center, transparent, transparent, rgba(255, 255, 255, 0.05));
    pointer-events: none;
}

#game {
    @include fixed-fullscreen;
}

#branding {
    color: rgba(255, 255, 255, 0.25);
    user-select: none;
    font-size: 10pt;
    position: fixed;
    display: block;
    text-align: center;
    bottom: 10pt;
    left: 0;
    right: 0;
    svg {
        fill: rgba(255, 255, 255, 0.25);
        filter: drop-shadow(0 0 6px white);
        width: 10pt;
        height: 10pt;
        margin-bottom: -3px;
        margin-right: 4px;
    }
}

@media(max-width: 320px),
(max-height: 500px) {
    #branding {
        display: none;
    }
    // .branding-separator {
    //     display: none;
    // }
    // .branding-line {
    //     display: block;
    //     line-height: 1.5;
    // }
}

#fallback-content {
    display: flex;
    flex-direction: row;
    padding: 24px;
    justify-content: center;
    &>div {
        display: flex;
        flex: 0 1 680px;
        flex-direction: column;
        &>header {
            display: flex;
            margin-bottom: 12px;
            #title {
                font-size: 36pt;
                font-weight: bold;
                margin-bottom: 16px;
            }
            #subtitle {
                font-size: 18pt;
                font-weight: bold;
            }
        }
        &>#cats {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 24px;
            margin-bottom: 24px;
        }
        &>#buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}

.avatar {
    width: 144px;
    height: 144px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    flex: 0 0 auto;
}

.cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    &>.cat-name {
        font-size: 16pt;
        margin-top: 8px;
        margin-bottom: 4px;
    }
    &>.cat-caption {
        font-size: 10pt;
        color: rgba(255, 255, 255, 0.25);
        width: 154px;
        text-align: center;
    }
}

#unsupported-banner {
    background: rgba(174, 82, 59, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    transition: all .5s;
    &>svg {
        flex-shrink: 0;
        margin-right: 8px;
        width: 24pt;
        height: 24pt;
    }
    &:hover {
        box-shadow: 0 0 24px rgba(174, 82, 59, 0.8);
        background: rgba(174, 82, 59, 0.9);
        transition: all .5s;
    }
}

@media(max-width: 680px) {
    #my-avatar {
        display: none;
    }
}