#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -62px;
    margin-left: -62px;
    border: 12px solid transparent;
    border-top: 12px solid white;
    border-bottom: 12px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}